.container {
  width: 45%;
  margin: 0 auto;
  /* text-align: center; */
}

/* form {
  display: flex;
  flex-direction: column;

} */

h1 {
  text-align: center;
  font-size: 45px;
}

.inputSection {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

input {
  padding: 10px 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}

button {
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: aqua;
}

button:active {
  opacity: 0.5;
}

.hidden {
  display: none;
}

.show {
  display: block;
  font-size: 25px;
}

.show p {
  margin-left: 5px;
}


